<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>edit page</title>
</head>
<body>
<form action="{{url_for('edit_book')}}" method="post">
    <p>Book name :{{book.title}}</p>
    <p>Current rating {{book.rating}}:</p>
    <input hidden="hidden" name="id" value="{{book.id}}">
    <input type="text" name="rate_update">
    <button name="btn_edit" type="submit">Change rate</button>

</form>

</body>
</html>